.coffee-menu {
    display: inline-block;
    width: 300px;
    padding: 0 15px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 50px;
}

.coffee-title {
    font-size: 20px;
}

.coffee-menu ul {
    margin: 0;
    padding: 0;
}
.coffee-menu li {
    margin: 0 0 15px 0;
    list-style: none;
    padding: 0;
}

.add-coffee {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.coffee-name {
    flex-grow: 10;
    text-align: left;
    padding: 10px;
    font-size: 18px;
}

.coffee-price {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

.coffee-img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

